{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["src/utils/serviceWorker.ts", "src/utils/setupTests.ts"],
  "rules": {
    "prettier/prettier": "error",
    "semi": "off",
    "@typescript-eslint/semi": ["error", "never"],
    "import/prefer-default-export": "off",
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true,
        "memberSyntaxSortOrder": ["single", "all", "multiple", "none"]
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],
    "react/prop-types": "off",
    "indent": ["error", 2]
  }
}
